---
layout: default
---
<section class="section">
  <h1 class="title">Meltano Handbook</h1>
  <p class="subtitle">Your src for the inner workings of <strong>Meltano</strong></p>
    <div class="block">
      <p>Welcome! The Meltano team handbook is the central repository for how the team functions and builds the product.</p>
    </div>
    <div class="block">
      <p>In line with our <a href="/company/values">value</a> of <a href="/company/values#transparency">Transparency</a>, the handbook is open to the world, and we welcome feedback. Please make a <a href="https://gitlab.com/meltano/handbook/-/merge_requests">merge request</a> to suggest improvements or add clarifications. Please use <a href="https://gitlab.com/meltano/handbook/-/issues">issues</a> to ask questions.</p>
    </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
        <h3 class="is-size-3">Quick Links</h3>
        <ul>
          <li><a href="/company/values">Company Values</a></li>
          <li><a href="/product/roadmap">Product Roadmap</a></li>
          <li><a href="/peopleops/benefits">Employee Benefits</a></li>
          <li><a href="/marketing/brand">Brand Guidelines</a></li>
          <li><a href="/timeline">Timeline of our History</a></li>
        </ul>
    </div>
    <div class="column">
        <h3 class="is-size-3">Shared Calendars & Meetings</h3>
        <ul>
          <li>
            <a href="https://calendar.google.com/calendar/u/1?cid=Y18wMWNqNDhoYTRoMTk5Y3RqZWZpODV0OWRnY0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t">
              <span class="icon"><i class="fas fa-table"></i></span> Community Meetings Calendar
            </a>
          </li>
          <li>
            <a href="/marketing/community#office-hours">
              <span class="icon"><i class="fas fa-laptop-house"></i></span> Office Hours
            </a> 
          </li>
          <li>
            <a href="/marketing/community#demo-day">
              <span class="icon"><i class="fas fa-laptop-code"></i></span> Demo Day
            </a>
          </li>
        </ul>
    </div>
  </div> 
</section>

<section class="section">
  <div class="columns is-multiline is-centered">
    {% if site.collections %}
      {% for collection in site.collections %}
        {% if collection.label != "posts" %}
        <div class="column is-one-quarter">
          <div class="card chiclet">
              <header class="card-header chiclet-header">
                <p class="card-header-title">
                  {{ collection.name }}
                </p>
              </header>
            <div class="card-content has-text-centered">
              <div class="block">
                {% if collection.icon %}
                {% assign icon = collection.icon %}
                  <span class="icon is-large"><i class="fas fa-5x {{ icon }}"></i></span> 
                {% else %}
                  <span class="icon is-large"><i class="fas fa-5x fa-book-open"></i></span>
                {% endif %}
              </div>
            </div>
            <footer class="card-footer">
              <a href="/{{ collection.label }}" class="card-footer-item">View</a>
            </footer>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</section>
