<!-- TODO: No need to pull in this whole thing for a burger. Fix it later. -->
<script 
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous">    
</script>

<script type="text/javascript">
  $(document).ready(function() {
  $(".navbar-burger").click(function() {
      $(".navbar-burger, .navbar-menu", $(this).closest('.navbar')).toggleClass("is-active");
  });
});
</script>

{% if page.url == "/search" %}
  {% include algolia.html %}
{% endif %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Like Meltano, this handbook is open source. <a href="https://gitlab.com/meltano/handbook" target="_blank">Contribute to the project!</a>
    </p>
    <p>
      Copyright 2021 Meltano — All rights reserved
    </p>
  </div>
</footer>
