<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}

    </div>

  </body>

</html>
