<!DOCTYPE html>
<html>

{% include head.html %}

  <body>


    <!-- TODO: This #app ID is a holdover from using Vue. We can remove it at some point but this was convenient since some styles were applied to it. -->
    <div id="app">



{% include header.html %}

<section class="main-content columns is-fullheight">
  



<!-- {% for crap in site.collections %}

{{ crap.label }}

{% endfor %} -->


<!-- {% for collection in site.collections %}
  <h2>Items from {{ collection.label }}</h2>
  <ul>
    {% for item in site[collection.label] %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %} -->


<!-- {% for item in site.data.samplelist.docs %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
{% endfor %} -->



  <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">
      {% if site.collections %}
        {% for collection in site.collections %}
          <li>
            <a href="#" class="{% if item.url == page.url %}is-active{% endif %}">
              <span class="icon"><i class="fa fa-table"></i></span> {{ collection.label | capitalize }}
            </a>
            <ul>
              {% for item in site[collection.label] %}
                <li>
                <a href="{{ item.url }}">
                  <span class="icon is-small"><i class="fa fa-link"></i></span> {{ item.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>

        {% endfor %}
      {% endif %}



















<!--       <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-home"></i></span> Home
        </a>
      </li>
      <li>
        <a href="#" class="is-active">
          <span class="icon"><i class="fa fa-table"></i></span> Links
        </a>

        <ul>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Link1
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon is-small"><i class="fa fa-link"></i></span> Link2
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-info"></i></span> About
        </a>
      </li> -->
    </ul>
  </aside>

  <div class="container column is-10 content">
    {{ content }}
    <!-- <div class="section">

      <div class="card">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
      
      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
      
    </div> -->
  </div>
  
</section>






      {% include footer.html %}

    </div>










  </body>

</html>

